@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

#container
{
    display: flex ;
    min-height: 100vh;
    background-color: rgba(68, 117, 136, 0.548);
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.card
{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.5s;
}

.card:hover
{
    transform: translateY(-15px);
}

.card-header 
{
    height: 200px;
    position: relative;
    
    
}

.card-header img
{
    width: 300px;
    height: 200px; 
    object-fit: cover;
    filter: grayscale(1);
    transition: 2s;
    border-radius: 10px 10px 0 0;
    


}

.card-header img:hover
{
    filter: grayscale(0);
}

.card-text
{
  padding: 10px 20px 30px 15px ;  
}

.card-text h1
{
    font-size: 25px;
    margin-bottom: 10px;
    color: black ;
}

.card-text p
{
    font-size: 14px;
    color: rgb(147, 147, 147);
    font-weight: 300px ;
}

.coeur
{
    width: 50px;
    height: 50px;
    background-color: rgba(237, 53, 96);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0 0 0;
    

}
